__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.venv/
.env.local
.env.*
!example.env
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite
*.mypy_cache/
*.pytest_cache/
.pytest_cache/
__pycache__/
.cache/
coverage/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
bu
